@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  color: white;
  height: 100%;
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer components {
  .text {
    @apply text-black;
  }
}
